# Gradle
.gradle/
build/
gradle-app.setting

# IDE
.idea/
*.iml
*.ipr
*.iws
out/

# OS
.DS_Store
Thumbs.db

# Kotlin
*.class
.kotlin/

# Local config
local.properties

# Office temp files
~$*

# Temp folder for testing
TempRelease/